@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* tête de page */

header.header
{
    position: fixed;
    z-index: 10;
    width: 95%;
    display: flex;
    align-items: center;
}

.top-page
{
    background: url("../images/tempo.png");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

body
{
    background-color: #020026;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='764' height='764' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23001F31' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23003031'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-size:cover;
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
}

.section
{
    height: 100vh;
}




/* landing-page */

.landing-page
{
    padding: 225px 100px;
}

.big-title
{
    color: white;
    font-size: 80px;
}

.landing-page a .btn button
{
   position: absolute;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   padding: 10px 30px;
   transition: 0.5s;
   font-size: 17px;
   background: none;
   border: none;
   color: white;
   cursor: pointer;
}

.landing-page a .btn button:hover
{
    letter-spacing: 0.25em;
    opacity: 1;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 45px rgb(41, 21, 159);
    opacity: .5;
}

.landing-page a .btn button:before
{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.25;
}

.landing-page a .btn .txt
{
    color: whitesmoke;
    position: relative;
    z-index: 1;
}






/* navbar */

nav.nav
{
    background-color: rgba(45, 5, 94, 0.159);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    position: relative;
    margin-left: auto;
}

nav.nav li 
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    color: white;
}

nav.nav li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

nav.nav li a .icon
{
    position:relative;
    display: block;
    line-height: 85px;
    font-size: 2.2em;
    transition: 0.5s;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

nav.nav li.active a .icon
{
    color: #29c1fd;
    transform: translateY(-8px); 
}

.nav.nav li a .text
{
    position: absolute;
    font-weight: 600;
    font-size: 0.45em;
    color: white;
    text-transform: uppercase;
    transform: translateY(25px);
    letter-spacing: 0.06em;
    opacity: 1;
    z-index: 10;
}

nav.nav li.active a .text
{
    font-size: 0.7em;
    opacity: 1;
    transform: translateY(16px);
    color: white;
}




/*Projet*/

.projet .left
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 75px auto;
    width: 70%;
    color: white;
    text-align: center;
}

.projet .left img
{
    max-width: 320px;
    float: left;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 15px;
}

.projet .left .txt h2
{
    font-size: 42px;
}

.projet .left .txt p
{
    font-size: 16px;
}

.projet .right
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 75px auto;
    width: 70%;
    color: white;
    text-align: center;
}

.projet .right .txt h2
{
    font-size: 42px;
}

.projet .right .txt p
{
    font-size: 16px;
}

.projet .right img
{
    max-width: 320px;
    float: right;
    border-radius: 10px;
    border: 3px solid white;
    margin-left: 15px;
}






/* Card */

.groupe 
{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container
{
    display: flex;
    height: 100vh; 
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}

.card 
{
    height: 500px;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    margin: 50px;
}

.card .content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
}

.card .content::before
{
    position: absolute;
}

.card .content .photo
{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

.card .content .photo::before
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
    width: 170px;
}

.card .content .photo img
{
    width: 100%;
    height: 100%;
}

.card .content h1
{
    margin-bottom: 10px;
}

.card .content h1,
.card .content p,
.card .content a
{
    color: white;
    text-align: center;
    text-decoration: none;
}

.card .content a
{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 600;
   background: linear-gradient(to top, black, black);
   width: 200px;
   padding: 8px 0;
   border-radius: 8px;
   margin-top: 40px;
   box-shadow: 0 0 10px 5px rgba(43, 43, 43, 0.533);
}






/* Docs */

.docs
{
    height: 500px;
}
.wrapper 
{
    padding-top: 50px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.one
{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B00DD'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BEC3FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BEC3FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
    border-top: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    border-radius: 12px;
}

.one a
{
    color: white;
    text-decoration: none;
}

.two
{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B00DD'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BEC3FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BEC3FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
    border-top: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    border-radius: 12px;
}   

.two a
{
    color: white;
    text-decoration: none;
}

.three
{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B00DD'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BEC3FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BEC3FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
    border-top: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    border-radius: 12px;
}

.three a
{
    color: white;
    text-decoration: none;
}

.four
{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B00DD'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23BEC3FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23BEC3FF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    position: relative;
    border-top: 1px solid rgb(125, 125, 125);
    border-right: 1px solid rgb(125, 125, 125);
    border-radius: 12px;
}

.four a
{
    color: white;
    text-decoration: none;
}




/*Installers*/

.téléchargements
{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container2
{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container2 .dl
{
    position: relative;
}

.container2 .dl .face
{
    width: 300px;
    height: 200px;
    transition: .4s;
}

.container2 .dl .face.face1
{
    position: relative;
    background-color: rgb(88, 88, 97);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container2 .dl .face.face1:hover
{
    transform: translateY(0);
    box-shadow: inset 0 0 80px rgb(1, 1, 66),
                inset 20px 0 80px rgb(2, 2, 123),
                inset -20px 0 80px rgb(0, 68, 255),
                inset 20px 0 300px rgb(2, 2, 123),
                inset -20px 0 300px rgb(0, 68, 255),
                0 0 50px #fff,
                -10px 0 80px rgb(2, 2, 123),
                10px 0 80px rgb(0, 68, 255);

}

.container2 .dl .face.face1 .content
{
    color: #fff;
    opacity: .5;
    transition: 0.5s;
    text-align: center;
}

.container2 .dl:hover .face.face1 .content
{
    opacity: 1;
}

.container2 .dl .face.face1 .content i 
{
    font-size: 3em;
    color: white;
    display: inline-block;
}

.container2 .dl .face.face1 .content h3
{
    font-size: 2em;
    color: white;
    display: center;
}

.container2 .card .face.face1 .content a
{
    transition: .5s;
}

.container2 .dl .face.face2
{
    position: relative;
    background: rgb(88, 88, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    margin-left: auto;
    margin-right: auto;
}

.container2 .dl:hover .face.face2
{
    transform: translateY(0);
}

.container2 .dl .face.face2 .content p, a
{
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: rgb(182, 179, 179);
    margin-left: auto;
    margin-right: auto;
}

.container2 .dl .face.face2 .content a
{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display:inline-block;
    margin-left: 50px;
}

.container2 .dl .face.face2 .content a:hover
{
    background-color: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* pied de page */

footer
{
    color: white;
    display: flex;
    align-items: center;
    margin: 20px 100px;
    justify-content: space-between;
}